In [1]:
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import pyplot
import plotly.express as px
import plotly.graph_objects as go
from OOS_check_helper import *
import warnings
warnings.filterwarnings('ignore')
import os
import sys
import subprocess
sns.set_style("whitegrid")

In [2]:
new_data1 = clean_data("../../data/rowData/Row_data.xlsx")

finish clean one dataset.

In [3]:
new_data1.head()

,Date,State,City,BU,Concept,Store,Category,Brand,SKU,Net Sale,Qty Sold,POS Margin on Net Sales,Stock Balance Qty,Margin,Net Sales
0,2019-11-01,QLD,Brisbane,Foodservice,Cafe,AULS.BNE208,03-Books,PENG-Pengiun Books,AULS499156-My Brothers Name Is Jessica,0.0,0,0.0,-4.0,0.0,0.0
1,2019-11-01,QLD,Brisbane,Specialty,Tech2Go,AULS.BNE205,09-Apparel,None,AULS466476-Mens Watch Traditional Asst,0.0,0,0.0,1.0,0.0,0.0
2,2019-11-01,QLD,Brisbane,Specialty,Tech2Go,AULS.BNE205,09-Apparel,None,AULS494736BLKBLOS-CALICO TOTE TECH2GO,0.0,0,0.0,50.0,0.0,0.0
3,2019-11-01,QLD,Gold Coast,BNC,Hub,AULS.OOL103,03-Books,ALUN-ALUN,AULS493451-Winx,0.0,0,0.0,1.0,0.0,0.0
4,2019-11-01,QLD,Gold Coast,BNC,Hub,AULS.OOL103,03-Books,ALUN-ALUN,AULS493452-Spark of Light,0.0,0,0.0,1.0,0.0,0.0

In [4]:
 # save the cleaned dataset
new_data1.to_csv('../../data/cleanedData/cleaned_data.csv', 
                             index=False, encoding='utf-8')

In [5]:
## merge muptiple datasets
df = merge_data(data_list)
    
## OOS check 
output_data = check_OOS_by_rules(df)
output_data = convert_to_string_times(output_data)
    
## Output dataset
output_data.to_csv('../../data/output/OOS_SKU.csv', index=False, encoding='utf-8')

NameError: name 'data_list' is not defined